a.signup-btn{
    background: #000;
    color: #fff;
}

h2{
    font-size: 25px;
    font-weight: 700;
}

.header-bottom{
    padding: 100px 0 250px 0;
}

.home-banner {
    padding: 50px 0px; 
}

#outer-circle {
    border: 2px dotted #fff;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    /* 
     Child elements with absolute positioning will be 
     positioned relative to this div 
    */
  }
#inner-circle {
position: absolute;
background: #CEF6E5;
border-radius: 50%;
height: 450px;
width: 450px;
/*
    Put top edge and left edge in the center
*/
top: 35%;
left: 35%;
margin: -150px 0px 0px -150px;
z-index: -1;
box-shadow: 0px 34px 50px rgb(0 0 0 / 10%);
animation: moveUp 5s ease infinite;
animation-delay: 2s;
/* 
    Offset the position correctly with
    minus half of the width and minus half of the height 
*/
}

@keyframes moveUp {
    from{
        top: 35%;
        left: 35%;
		width: 450px;
        height: 450px;
	}
	50%{
        top: 40%;
        left: 40%;
		width: 400px;
        height: 400px;
	}
	to{
        top: 35%;
        left: 35%;
		width: 450px;
        height: 450px;
	}
}

.salary {
    position: absolute;
    top: 50px; 
    left: -50px; 
    width: 190px; 
    height: 120px; 
    background: #fff;
}

.salary p {
    font-size: 12px;
    font-weight: 500
}

.salary h5 {
    font-weight: 700; 
    margin-top: -15px;
    font-size: 22px;
}

.img-btm {
    position: absolute; 
    left: -52px; 
    top: 175px; 
    width: 195px;
}

.img-right {
    position: absolute; 
    right: -50px; 
    top: 50px; 
    width: 307px;
}

.banner-contents a.btn {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    padding: 10px 20px;
    box-shadow: none;
    border-radius: 0px;
}
.banner-contents a.btn:hover {
    background-color: #FDC831;
    color: #fff;
}
.banner-contents a.active-btn {
    background-color: #FDC831;
    color: #fff;
}

.banner-main{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 400px;
}

/* points section */

.circle {
    width: 37px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    color: #000;
    border: 1px solid #fff;
    background: #E1ECF0
}

.point-contents {
    width: 60%;
}

.point-contents p {
    opacity: 0.7
}

.points-card{
    position: absolute;
    top: 20px;
    background: #fff;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
    width: 200px;
    height: 220px;
    border-radius: 5px;
}

.points-each h5{
    font-weight: 700;
}

/* More-points */

.more-point{
    width: 60%;
}

.more-point p {
    color: #000;
    opacity: 0.7;
    margin-top: 30px;
}

/* Features section */

.features-head h2{
    font-size: 34px;
    width: 50%;
}

.features h5 {
    font-weight: 700;
}

.feature-item {
    min-height: 100%;
    background: #fff;
}

.feature-item p{
    font-size: 15px;
    color: #262729;
    opacity: 0.7;
}

.feature-img{
    width: 50px;
}

/* connect section *?

/* Connect Section */

.connect-form {
    background: #fff;
    width: 400px;
    border-radius: 10px;
}

.connect-form label{
    font-weight: 700;
    font-size: 15px;
}

.connect-form input{
    background: #E1ECF0;
    border: unset;
    outline: unset;
    font-size: 12px;
}

.cust-connect{
    position: absolute;
    top: 25%;
    left: -100px;
    width: 250px;
    background: #FDC831
}

/* Responsive */

/* @media screen and (max-width: 1280px) {

} */

@media screen and (max-width: 1200px) {	
    .cust-connect{
        position: absolute;
        top: 25%;
        left: -50px;
        width: 250px;
        background: #FDC831
    }

    .point-contents {
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    #outer-circle {
        height: 350px;
        width: 350px;
    }

    #inner-circle {
    height: 285px;
    width: 285px;
    top: 52%;
    left: 52%;
    }

    @keyframes moveUp {
        from{
            top: 52%;
            left: 52%;
            width: 285px;
            height: 285px;
        }
        50%{
            top: 50%;
            left: 50%;
            width: 300px;
            height: 300px;
        }
        to{
            top: 52%;
            left: 52%;
            width: 285px;
            height: 285px;
        }
    } 


    .banner-main{
        position: absolute;
        top: 5%;
        left: 15%;
        width: 280px;
    }


    .salary {
        position: absolute;
        top: 32px;
        left: -32px; 
        width: 120px; 
        height: 90px; 
        background: #fff;
    }

    .salary h5 {
        font-size: 15px;
    }

    .salary p {
        font-size: 10px;
    }

    .img-btm {
        position: absolute; 
        left: -32px; 
        top: 125px; 
        width: 125px;
    }
    
    .img-right {
        position: absolute; 
        right: -20px; 
        top: 30px; 
        width: 207px;
    }

    .point-contents {
        width: 100%;
    }

    .points-card{
        width: 150px;
        height: 150px;
    }

    .connect-form{
        width: 100%;
    }

    .cust-connect{
        left: 0;
    }

    .cust-connect h3{
        font-size: 30px;
        font-weight: 600;
        margin-top: 30px;
    }

    .cust-connect p{
        font-size: 15px;
    }

    .cust-connect-img{
        width: 80%;
    }

    .more-point{
        width: 80%;
    }
    
    .features-head h2{
        width: 100%;
    }
    
}

@media screen and (max-width: 767px) {
    .cust-connect{
        top: 18%;
        left: 0;
        width: 180px;
    }

    .cust-connect h3{
        margin-top: 0;
        font-size: 20px;
        font-weight: 600;
    }

    .cust-connect p {
        font-size: 12px;
    }

    .cust-connect-img{
        width: 80%;
    }

    .more-point{
        width: 80%;
    }

    .features-head h2{
        width: 100%;
    }
    
}

