.stick-menu{
    height: 70px;
    background: white;
}

.main-list {
    overflow-x: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
.main-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-list {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  color: #000;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  color: #FDC805;
}